<app-title title="Control Flow" withShadow />

<section class="grid grid-cols-1 md:grid-cols-2 gap-3">

    <div class="bg-white-rounded shadow p-10">
        <h2 class="text-2xl font-bold mb-5">if: {{ showContent() }}</h2>
        <button class="p-2 bg-blue-500 rounded text-white" (click)="toggleContent()">Click me!</button>

        @if ( showContent() ) {
        <p>Hello Universe</p>
        } @else {
        <p>***********</p>
        }
    </div>
    <!-- Switch -->
    <div class="bg-white-rounded shadow p-10">
        <h2 class="text-2xl font-bold mb-5">Switch Grade: {{ grade() }}</h2>


        @switch (grade()) {
        @case('A'){
        <p>Over 90</p>
        }
        @case ('B') {
        <p>Over 80</p>
        }
        @default {
        <p>Failed</p>
        }
        }
    </div>
    <!-- For -->
    <div class="bg-white-rounded shadow p-10">
        <h2 class="text-2xl font-bold mb-5">Frameworks Frontend</h2>

        <ul>
            @for(framework of frameworks(); track $index){
            <li [class]="{
                'bg-red-100': $even && !$first && !$last,
                'bg-purple-100': $odd && !$first && !$last,
                'bg-blue-100': $first || $last,
            }">
                {{ $index + 1 }}/{{$count}} - {{ framework }}
            </li>
            }
        </ul>
    </div>
    <div class="bg-white-rounded shadow p-10">
        <h2 class="text-2xl font-bold mb-5">Frameworks Backend</h2>

        <ul>
            @for(framework of frameworks2(); track $index){
            <li>
                {{ $index + 1 }} - {{ framework }}
            </li>
            } @empty {
            <p>There's no frameworks added</p>
            }
        </ul>
    </div>
</section>